doctype
html
  head
    link(rel="stylesheet" href="#{ site_url }assets/css/app.css")
  body
    header
      .main-header
        .container
          .branding
            a.logo(href="#{ site_url }")
              img(src="#{ site_url }assets/img/logo.png")
          nav.main-nav
            ul
              li
                a(href="/") Home
              li
                a(href="/") Company
              li
                a(href="/") Our Widgets
              li
                a(href="/") Contact Us

    != yield

    script(src="#{ site_url }assets/js/slide.js").
